<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!--通过无参构造创建对象-->
    <bean id = "user" class="entity.User" scope="prototype" />
    <bean id="user1"  class="entity.User" ></bean>

</beans>